.container.about{
    font-size: 20px;
    background-color:white;
    margin-left: 250px;
    padding: 50px;
    border-radius: 15px;
    h1{
        font-weight: bold;
        font-size: 40px;
        font-size: 22px;
    }
    li{
        font-weight: bold;
        list-style: none;
    }
}
.logo_about{
    position: fixed;
    margin: 10px; 
    top: 0;
    cursor: pointer;
}


@media screen and (max-width: 700px){
    
    .container.about{
        font-size: 20px;
        background-color:white;
        margin: 10px;
        margin-top: 170px;
        padding: 50px;
        border-radius: 15px;

    }
    .logo_about{
        width: 100%;
        text-align: center;
        margin-top: 0px;
        padding-top: 10px;
        overflow: hidden;
        background-color: rgb(243, 239, 243);
    } 
}