/*-POPUP---------------------------------------------------------------*/

@keyframes popupIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes flat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes popupBounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popupBounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

/*-SHAKE---------------------------------------------------------------*/

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-10px, 10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(10px, -10px);
  }
}

/*-MENUBAR---------------------------------------------------------------*/

@keyframes menuBarIn {
    to {
        transform: translateY(0);
    }from {
        transform: translateY(-1000px);
    }
}

@keyframes menuBarOut {
    to {
        transform: translateY(-1000px);
    } from {
        transform: translateY(0);
    }
}